{% extends 'service_boy/base.html' %}

{% block title %} Service-Boy {% endblock %}

{% block stylesheet %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'service_boy/scss/start_ride.css' %}">

<style>

</style>
{% endblock %}

{% block body %}
{% if otp_enter %}
{% if otp_correct%}
<div class="alert alert-success" id="otp_is_correct" role="alert">
  Hurrah!, OTP is Correct, Best Wishs for Your Journey!!
</div>
{% else %}
<div class="alert alert-danger" id="otp_not_correct" role="alert">
  Sorry, OTP Entered is not Correct!!
</div>
{% endif %}
{% endif %}

{% if otp_send %}
<div class="alert alert-success" role="alert">
  OTP has been send to customer registered email ID
</div>
{% endif %}

<div class="timer noshow" id="stopwatch">
  <h2>Time Spend</h2>
  <h3 id="timer">00:00:00</h3>
</div>

<div class="container" style="width: 100%;height: 100%;">
  <div class="receipt">
    <h2 class="name"> {{customer_service_hist.hospital_name}} </h2>

    <p class="greeting"> Best Wishes for Your Ride!! </p>

    <!-- Order info -->
    <div class="order">

      <p> Order ID : #{{customer_service_hist.customer_trip_id}} </p>
      <p> Date : {{customer_service_hist.date_of_service}} </p>
      <p> Customer Name : {{customer_service_hist.customer_FName}} {{customer_service_hist.customer_LName}} </p>
      <p> Customer Contact : {{customer_pickUp.mobile}} </p>
      <p> Customer Address : {{customer_pickUp.address}} </p>
      <p> Hospital Address : {{hospital_drop.hospital_address}} </p>

    </div>

    <hr style="margin: 10px;">

    <div class="details">

      <h3> Services </h3>

      <div class="product">


        <div class="info">
          {% for services in convert_services %}
          <h4> {{services}} </h4>
          {% endfor %}

        </div>

      </div>


    </div>

    <!-- Sub and total price -->
    <div class="totalprice">
      <p class="sub">Amount<span>₹{{customer_service_hist.amount}}/-</span></p>
      <hr>
      <div class="btn_service">
        <form action="/service_boy/{{Active_Service_Boy.ID}}/start_ride" method="post">
          {% csrf_token %}
          <button type="submit" name="send_OTP" value="sendOTP" id="send_OTP" class="btn btn-primary mx-2"
            style="width: 100px;">Send OTP</button><br><br>
        </form>
        <button type="button" name="stop" value="stop" id="btnstop" class="btn btn-danger mx-2" data-bs-toggle="modal"
          data-bs-target="#exampleModal" style="width: 100px;">Stop</button><br><br>
        <form action="/service_boy/{{Active_Service_Boy.ID}}/start_ride" method="post">
          {% csrf_token %}
          <input class="OTP" name="OTP_entered" style="width:200px; border-radius: 7px; padding:7px;" type="text"
            placeholder="Enter the OTP" value="" required="" maxlength='4'>
          <button type="submit" id="start" onclick="startwatch()" class="btn btn-success mx-2"
            style="width: 120px;">START
            RIDE</button><br><br>
        </form>
      </div>

    </div>
    <!-- Button trigger modal -->
  </div>

</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Stop Confirmation</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <b>Important</b><br>
        <p>Don't Forget to Remind the Customer that payment option has been updated in his/her Orders History Section.
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <form action="/service_boy/{{Active_Service_Boy.ID}}/start_ride" method="POST">
          {% csrf_token %}
          <input type="hidden" id="stop_customer_id" name="stop_customer_id"
            value="{{customer_service_hist.customer_trip_id}}">
          <input type="hidden" id="stop_customer_time" name="stop_customer_time" value="">
          <button type="submit" onclick="stopwatch()" class="btn btn-danger">Stop Service</button>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block javascript %}

<!-- var x = 0
var toastLiveExample = document.getElementById('liveToast')
var toast = new bootstrap.Toast(toastLiveExample)
toast.show() -->

{% if otp_correct%}
<script>
  if (localStorage.getItem("button_press") == 'true') {
    $('div#stopwatch').removeClass('noshow')
  }
</script>
{% endif %}

<script>
  $(document).click(function () {
    $('div.alert').remove();
  })

  function startwatch() {
    localStorage.setItem('watch_time', new Date().getTime())
    localStorage.setItem('button_press', true)
  }

  function stopwatch() {
    localStorage.setItem('button_press', false)
  }

  


  var refresh = setInterval(function () {
    var start_time = localStorage.getItem("watch_time");
    var current_time = new Date().getTime();
    var difference = current_time - start_time;
    $('input#stop_customer_time').attr('value', difference);
    var days = Math.floor(difference / (60 * 60 * 24 * 1000))
    var hours = Math.floor((difference % (60 * 60 * 24 * 1000)) / (1000 * 60 * 60));
    var minutes = Math.floor((difference % (60 * 60 * 1000)) / (1000 * 60));
    var seconds = Math.floor((difference % (60 * 1000)) / 1000);
    document.getElementById('timer').innerHTML = days + 'd,' + hours + 'hrs: ' + minutes + 'm: ' + seconds + 's'
  }, 1000)
</script>
{% endblock %}