<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% load static %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" type="text/css" href="{% static 'user/scss/navbar/navbar.css' %}">
  {% block stylesheet %}{% endblock %}
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
  <title>{% block title %}{% endblock %}</title>
</head>

<style>
  button.btn:hover path.search {
    fill: white;
  }

  div.cart {
    position: relative;
    width: 40px;
  }

  div.cart svg {
    right: 40px;
  }

  span.items {
    position: absolute;
    right: 0;
    border: 1px solid red;
    padding: 0 5px 0 5px;
    border-radius: 50%;
    background-color: red;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type=number] {
    -moz-appearance: textfield;
  }

  li.cart-items {
    margin: 0;
    border-bottom: 1px solid rgba(128, 128, 128, 0.219);
  }

  button.cart_submit {
    border: 0px;
    margin: 0;
    background-color: transparent;
    padding: 10px;
  }

  div.hospital_name {
    padding: 10px 0px 0px 10px;
    border-bottom: 1px solid gray;
  }

  div.hospital_name p {
    margin: 0;
    font-size: small;
    margin-right: 5%;
  }

  div.hospital_name h6 {
    margin: 0;
  }

  div.hospital_name div {
    display: flex;
  }

  input.rating_star {
    display: none;
  }

  label.fas {
    color: rgb(255, 216, 21);
    margin-top: 1.5%;
    font-size: x-small;
  }

  ul.hospitals {
    padding: 0;
  }
</style>

<body>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">is-Taker</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class=" collapse navbar-collapse" id="navbarSupportedContent">

        <form class="d-flex" action="/customer_dashboard/{{Active_User.customer_id}}/search" method="POST">
          {% csrf_token %}
          <input list="browsers" class="form-control" style="border-radius: 5px 0 0 5px;" type="search"
            name="search_by_place" aria-label="Search" value="{{search_by_place}}" placeholder="Search by Hospital"
            id="browser" autocomplete="off" required>
          <datalist id="browsers">
            {% for hospital in hospital %}
            <option value="{{hospital}}">
              {% endfor %}
          </datalist>
          <button id="btn_search_by_place" class="btn btn-outline-primary" style="border-radius: 0 5px 5px 0;"
            type="submit"><svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24"
              class="svelte-gvo0bu">
              <path fill="blue" class="search"
                d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z">
              </path>
              <path d="M0 0h24v24H0z" fill="none"></path>
            </svg>
          </button>
        </form>

        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
          </li>
        </ul>
        <form class="d-flex" action="/customer_dashboard/{{Active_User.customer_id}}/search" method="POST"
          style="margin-right: 1%;">
          {% csrf_token%}
          <input class="form-control" name="search_by_pin" style="border-radius: 5px 0 0 5px;" type="number"
            placeholder="Search by Pin" aria-label="Search" value="{{search_by_pin}}" required>
          <button id="btn_search_by_pin" class="btn btn-outline-primary" style="border-radius: 0 5px 5px 0;"
            type="submit"><svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24"
              class="svelte-gvo0bu">
              <path fill="blue" class="search"
                d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z">
              </path>
              <path d="M0 0h24v24H0z" fill="none"></path>
            </svg>
          </button>
        </form>
        <div class="btn-group dropdown">
          <button type="button" style="border: 0px;background-color:transparent;line-height:normal;"
            class="cartbutton dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            Welcome {{Active_User.first_name}}
          </button>
          <ul class="dropdown-menu dropdown-menu-end" style="width:max-content;">
            <li><a class="dropdown-item" href="#">Your Account</a></li>
            <li><a class="dropdown-item" href="/customer_dashboard/{{Active_User.customer_id}}/orders">Your Orders</a></li>
            <li><a class="dropdown-item" href="#">Contact Us</a></li>
          </ul>
        </div>
        <form action="/logout" method="post">
          {% csrf_token %}
          <button type="submit" class="btn btn-primary mx-2">Logout</button>
        </form>
        <div class="btn-group">
          <button type="button" style="border: 0px;background-color:transparent;line-height:normal;" class="cartbutton"
            data-bs-toggle="dropdown" aria-expanded="false">
            <div class="cart">
              <span class="items">{{cart_length}}</span>
              <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="blue" class="bi bi-cart"
                viewBox="0 0 16 16">
                <path
                  d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
              </svg>
            </div>
          </button>
          <ul class="dropdown-menu dropdown-menu-end" style="text-align: center; width:max-content;">
            <form action="/customer_dashboard/{{Active_User.customer_id}}/order_confirm" method="post">
              {% csrf_token %}
              <input id="cart_value_id" type="hidden" name="cart_value_id" value="">
              {% if cart_length == 0 %}
              <h4 style="padding: 5px 20px;">Cart is Empty</h4>
              {% else %}
              {% for i in cart %}
              <li class="cart-items"><button class="cart_submit" type="submit"
                  value="{{i.service_chosen_id}}">{{i.hospital_name}}</button></li>
              {% endfor %}
              {% endif %}
            </form>
          </ul>
        </div>
      </div>
    </div>
  </nav>

  <div class="top-container">
    <div class="container side left-container">
      <div class="mini top-rated">
        Top Rated Spot Filter on City Wise
        <div class="accordion accordion-flush" style="height: 100%" id="accordionFlushExample">
          <ul class="hospitals" style="text-align: left;height: 80%;overflow: hidden;overflow-y: scroll;">
            <br>
            {% for i in hospital_city_wise %}
            <div class="hospital_name">
              <h6>{{i}}</h6>
              <div>
                <p>{{i.hospital_pin}}</p>
                {% for j in '12345' %}
                <input class="rating_star" type="radio" name="rate" id="rate-{{j}}">
                <label for="rate-{{j}}" class="fas fa-star"></label>
                {% endfor %}
              </div>
            </div>
            {% endfor %}
          </ul>
        </div>
      </div>
      <div class="mini all-services">
        All Service List
        <div class="accordion accordion-flush" style="height: 100%" id="accordionFlushExample">
          <ul style="text-align: left;height: 90%;overflow: hidden;overflow-y: scroll;">
            <br>
            {% for i in package_dict %}
            <dl id="package{{forloop.counter}}">
              <dt>package {{forloop.counter}}</dt>
              {% for j in i %}
              <dd style="margin-left: 10%;" id="service_name_{{j.2}}">- {{j.2}}</dd>
              {% endfor %}
            </dl>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
    <div class="container middle-container">
      {% block body %} {% endblock %}
    </div>
    <div class="container side right-container">
      <div class="mini top-rated">
        Top Rating City
      </div>
      <div class="mini deals">
        Deals
      </div>
    </div>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
  </script>
  <script>
    $('button.cart_submit').click(function () {
      $('input#cart_value_id').attr('value', $(this).attr('value'))
    })
  </script>
  <script src="{% static 'user/js/navbar.js' %}"></script>
  {% block javascript %}{% endblock %}

</body>

</html>