{% extends 'service/base.html' %}

{% block title %} isTaker | My Account {% endblock %}

{% block stylesheet %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'service/scss/my_account/my_account.css' %}">
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

{% endblock %}

{% block body %}
<br><br>
<div class="my_account">
    <h2>Profile Section</h2>
    <div class="info_control">
        <div class="info_panel">
            <div class="name">
                <div class="img"><img src="{% static 'service/images/avatar.png' %}" alt="" width="60px"></div>
                <div class="greeting">
                    <span>Hello</span>,<br> <b>{{Active_User.first_name}} {{Active_User.last_name}}</b>
                </div>
            </div>
            <div class="sidebar">
                <div class="orders">
                    <ul class="category">
                        <li class="order_select">
                            <a href="/customer_dashboard/{{Active_User.customer_id}}/orders" target="_blank" class="orders">
                                <span style="margin-right: 20px;">
                                    <img src="{% static 'service/images/order.png' %}" alt="" width="40px">
                                </span>
                                My Orders
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="personal_info">
                    <ul class="category">
                        <li>
                            <span style="margin-right: 20px;margin-left: 5px;">
                                <img src="{% static 'service/images/profile.png' %}" alt="" width="30px">
                            </span>
                            Profile Information
                        </li>
                    </ul>
                    <ul class="subcategory">
                        <li class="link section  active_link" id="personal">Personal</li>
                        <li class="link section" id="address">Manage Address</li>
                        <li class="link section" id="adhaar">Adhaar Card</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="info_change">
            <div class="section personal">
                <div class="your_name">
                    <label for="your_name" class="label_info">
                        Your Name<span id="name"><img class="edit_info" src="{% static 'service/images/edit.png' %}"
                                alt="" width="20px">
                        </span>
                    </label>
                    <form action="/customer_dashboard/{{Active_User.customer_id}}/my_account" method="POST">
                        {% csrf_token %}
                        <div class="customer_name">
                            <div class="form-floating">
                                <input class="form-control name" name="first_name"
                                    placeholder="{{Active_User.first_name}}" id="first_name" maxlength="200"
                                    value="{{Active_User.first_name}}" disabled></textarea>
                                <label for="first_name">First Name</label>
                            </div>
                            <div class="form-floating">
                                <input class="form-control name" name="last_name"
                                    placeholder="{{Active_User.last_name}}" id="last_name" maxlength="200"
                                    value="{{Active_User.last_name}}" disabled></textarea>
                                <label for="last_name">Last Name</label>
                            </div>
                        </div>
                        <button type="submit" class="save name noshow">Save</button>
                    </form>
                </div><br>
                <div class="father_name">
                    <label for="father_name" class="label_info">
                        Father/Hustand Name<span id="father_name"><img class="edit_info"
                                src="{% static 'service/images/edit.png' %}" alt="" width="20px">
                        </span>
                    </label>
                    <form action="/customer_dashboard/{{Active_User.customer_id}}/my_account" method="POST">
                        {% csrf_token %}
                        <div class="customer_name">
                            <div class="form-floating">
                                <input class="form-control father_name" name="father_name"
                                    placeholder="{{Active_User.father_husband_name}}" id="father_name" maxlength="200"
                                    value="{{Active_User.father_husband_name}}" disabled
                                    style="width: 120%;"></textarea>
                                <label for="father_name">Father/Hustand Name</label>
                            </div>
                        </div>
                        <button type="submit" class="save father_name noshow">Save</button>
                    </form>
                </div><br>
                <div class="email_mobile">
                    <div class="email" style="margin-right: 60px;">
                        <label for="email" class="label_info">
                            Email<span id="email"><img class="edit_info" src="{% static 'service/images/edit.png' %}"
                                    alt="" width="20px">
                            </span>
                        </label>
                        <form action="" method="POST">
                            {%csrf_token%}
                            <div class="customer_name">
                                <div class="form-floating">
                                    <input type="email" class="form-control email" name="email"
                                        placeholder="{{Active_User.email}}" id="email" maxlength="200"
                                        value="{{Active_User.email}}" disabled style="width:120%;"></textarea>
                                    <label for="email">Email</label>
                                </div>
                            </div>
                            <button type="submit" class="save email noshow">Save</button>
                        </form>
                    </div>
                    <div class="mobile">
                        <label for="mobile" class="label_info">
                            Contact<span id="mobile"><img class="edit_info" src="{% static 'service/images/edit.png' %}"
                                    alt="" width="20px">
                            </span>
                        </label>
                        <form action="" method="POST">
                            {%csrf_token%}
                            <div class="customer_name">
                                <div class="form-floating">
                                    <input type="number" class="form-control mobile" name="mobile"
                                        placeholder="{{Active_User.mobile}}" id="mobile" maxlength="200"
                                        value="{{Active_User.mobile}}" disabled style="width:120%;"></textarea>
                                    <label for="mobile">Contact</label>
                                </div>
                            </div>
                            <button type="submit" class="save mobile noshow">Save</button>
                        </form>
                    </div>
                </div><br>
                <a href="/forgot_password" class="change_password">Change Password</a>
            </div>
            <div class="section address noshow">
                <div class="address">
                    <label for="address" class="label_info">
                        Address<span id="address"><img class="edit_info" src="{% static 'service/images/edit.png' %}"
                                alt="" width="20px">
                        </span>
                    </label>
                    <form action="">
                        {%csrf_token%}
                        <div class="customer_name">
                            <div class="form-floating">
                                <input class="form-control address" name="address" placeholder="{{Active_User.address}}"
                                    id="address" maxlength="200" value="{{Active_User.address}}" disabled
                                    style="width: 200%;">
                                <label for="address">Address</label>
                            </div>
                        </div>
                        <button type="submit" class="save address noshow">Save</button>
                    </form>
                </div><br>
                <div class="state_city_pin">
                    <div class="state">
                        <label for="state" class="label_info">
                            State<span id="state"><img class="edit_info" src="{% static 'service/images/edit.png' %}"
                                    alt="" width="20px">
                            </span>
                        </label>
                        <form action="" method="POST">
                            {%csrf_token%}
                            <div class="customer_name">
                                <div class="form-floating">
                                    <select name="state" class="form-select state form-select-lg mb-3" id="state"
                                        aria-label=".form-select-lg example" disabled
                                        style="margin-bottom: 0!important;">
                                        <option selected>{{Active_User.state}}</option>
                                        <option value="delhi">delhi</option>
                                        <option value="telangana">telangana</option>
                                        <option value="maharahstara">maharahstara</option>
                                    </select>
                                    <label for="state">State</label>
                                </div>
                            </div>
                            <button type="submit" class="save state noshow">Save</button>
                        </form>
                    </div><br>
                    <div class="city">
                        <label for="city" class="label_info">
                            City/Village<span id="city"><img class="edit_info"
                                    src="{% static 'service/images/edit.png' %}" alt="" width="20px">
                            </span>
                        </label>
                        <form action="" method="POST">
                            {%csrf_token%}
                            <div class="customer_name">
                                <div class="form-floating">
                                    <input class="form-control city" name="city_village"
                                        placeholder="{{Active_User.city_village}}" id="city" maxlength="200"
                                        value="{{Active_User.city_village}}" disabled
                                        style="width: 80%;margin-right: 0!important;">
                                    <label for="city">City/Village</label>
                                </div>
                            </div>
                            <button type="submit" class="save city noshow">Save</button>
                        </form>
                    </div><br>
                    <div class="pin">
                        <label for="pin" class="label_info">
                            PIN<span id="pin"><img class="edit_info" src="{% static 'service/images/edit.png' %}" alt=""
                                    width="20px">
                            </span>
                        </label>
                        <form action="" method="POST">
                            {%csrf_token%}
                            <div class="customer_name">
                                <div class="form-floating">
                                    <input class="form-control pin" type="number" name="PIN"
                                        placeholder="{{Active_User.PIN}}" id="pin" maxlength="200"
                                        value="{{Active_User.PIN}}" disabled style="width: 100%;">
                                    <label for="pin">PIN</label>
                                </div>
                            </div>
                            <button type="submit" class="save pin noshow">Save</button>
                        </form>
                    </div><br>
                </div><br>
            </div>
            <div class="section adhaar noshow">
                <div class="adhaar">
                    <label for="adhaar" class="label_info">
                        Adhaar Card<span id="adhaar"><img class="edit_info" src="{% static 'service/images/edit.png' %}"
                                alt="" width="20px">
                        </span>
                    </label>
                    <form action="">
                        <div class="customer_name">
                            <div class="form-floating">
                                <input class="form-control adhaar" name="adhaar" placeholder="{{Active_User.Adhaar}}"
                                    id="adhaar" maxlength="200" value="{{Active_User.Adhaar}}" disabled
                                    style="width: 150%;">
                                <label for="adhaar">Address</label>
                            </div>
                        </div>
                        <button type="submit" class="save adhaar noshow">Save</button>
                    </form>
                </div><br>
            </div>
        </div>
    </div>
    <!-- Button trigger modal -->

</div>
{% endblock %}

{% block javascript %}
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="{% static 'service/js/customer_dashboard.js' %}"></script>
<script src="{% static 'service/js/my_account.js' %}"></script>
{% endblock %}