{% extends 'service/base.html' %}

{% block title %} isTaker | Serivce Boy Status {% endblock %}

{% block stylesheet %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'service/scss/search/search.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'service/scss/service_boy_on_way/service_boy_on_way.css' %}">
<style>
  
</style>
{% endblock %}

{% block body %}
<!-- If Service Boy Available -->
<div class="service_boy_on_way">
  {% if not No_Service_Boy %}
  <div class="Order_Confirm">
    <!-- {% for service_boy in service_boys %}
    <h1>{{service_boy}}</h1>
    {% endfor %} -->
    <table class="body-wrap">
      <tbody>
        <tr>
          <td class="order_container" width="600">
            <div class="content">
              <h5>Order Summary</h5>
              <!-- {{Your_Order}} -->
              <table class="main" width="100%" cellpadding="0" cellspacing="0">
                <tbody>
                  <tr>
                    <td class="content-wrap aligncenter">
                      <table width="100%" cellpadding="0" cellspacing="0">
                        <tbody>
                          <tr>
                            <td class="content-block">
                              <h2 style="color: green;">Thanks for using our Service</h2>
                              <h5 style="font-weight: 400;">Driver is on the Way</h5>
                              <!-- <h3 class="otp">OTP: <span>{{Your_Order.otp}}</span></h3> -->
                              <!-- first_name, last_name, mobile -->
                              <h4>Driver: {{Your_Order.service_boy_name}}</h4>
                              <h4>Contact No.: {{Your_Order.service_boy_mobile}}</h4>
                              <a href="">Track Your Driver</a>
                            </td>
                          </tr>
                          <tr>
                            <td class="content-block">
                              <table class="invoice">
                                <tbody>
                                  <tr>
                                    <td>
                                      <table class="invoice-items" cellpadding="0" cellspacing="0">
                                        <tbody>
                                          <tr>
                                            <td>First Name</td>
                                            <td class="alignright">{{first_name}}</td>
                                          </tr>
                                          <tr>
                                            <td>Last Name</td>
                                            <td class="alignright">{{last_name}}</td>
                                          </tr>
                                          <tr>
                                            <td>Invoice</td>
                                            <td class="alignright">#{{Your_Order.Order_ID}}</td>
                                          </tr>
                                          <tr>
                                            <td>Date / Time</td>
                                            <td class="alignright">{{Your_Order.dt_string}}</td>
                                          </tr>
                                          <tr>
                                            <td>Hospital Name</td>
                                            <td class="alignright">{{Your_Order.hospital_name}}</td>
                                          </tr>
                                          <tr style="text-align:center; width:100%;">
                                            <td class=""><br><b>Pick-Up Address</b></td>
                                          </tr>
                                          <tr>
                                            <td style="width: 100%;">{{Your_Order.from}}</td>
                                            <!-- <td class="address alignright">{{Your_Order.to}}</td> -->
                                          </tr>
                                          <tr style="text-align:center; width:100%;">
                                            <td class=""><b>Drop Address</b></td>
                                          </tr>
                                          <tr>
                                            <td style="width: 100%;">{{Your_Order.to}}</td>
                                            <!-- <td class="address alignright">{{Your_Order.to}}</td> -->
                                          </tr>
                                          <tr style="text-align:center; width:100%;">
                                            <td class=""><br><b>Services</b></td>
                                          </tr>
                                          {% for i in Active_Service.service_list %}
                                          <tr>
                                            <td>{{i}}</td>
                                            {% for j in Active_Service.total_price %}
                                            {% if forloop.parentloop.counter == forloop.counter%}
                                            <td class="alignright">₹{{j}}/-</td>
                                            {% endif %}
                                            {% endfor %}
                                          </tr>
                                          {% endfor %}
                                          <tr style="color: green;">
                                            {% if Active_Service.coupon == '' %}
                                            <td>Discount (No Coupon)</td>
                                            {% else %}
                                            <td>Discount ({{Active_Service.coupon}})</td>
                                            {% endif %}
                                            <td class="alignright">-₹{{Active_Service.offer_amount}}/-</td>
                                          </tr>
                                          <tr class="total">
                                            <td class="alignright" width="80%">Total</td>
                                            <td class="alignright">₹{{Active_Service.price}}/-</td>
                                          </tr>
                                        </tbody>
                                      </table>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- If Service Boy not Available -->
  {%else%}
  <br>
  <div class="alert alert-primary no_service_boy" role="alert">
    <h4 class="alert-heading"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
        class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
        <path
          d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
      </svg>No Service Boy Available!</h4>
    <p>Currently No Service Boy is Available to valet you. But this Doesn't means we will not help. If you want you can
      try other hospital, or If you want we can save your order and respond you through Email as soon as any Service
      Boy is Available. This usually takes upto 1 hour.</p>
    <hr>
    <p class="mb-0">select <b>No</b> to Try Another Hospital. We will restore the Order to your Cart.<br>select <b>Yes</b> to Save Your Order. We will send you a Service Boy within an Hour.</p>
    <br>
    <form action="/customer_dashboard/{{Active_User.customer_id}}/service_boy_on_way" method="post">
      {% csrf_token %}
      <input type="hidden" id="pendingOrder" value="" name="pendingOrder">
      <button class="btn pending-order-btn btn-primary mx-2" id="no" style="border-radius:5px;padding:5px 40px;font-size:25px;" type="submit">
        No
      </button>
      <button class="btn pending-order-btn btn-primary mx-2" id="yes" style="border-radius:5px;padding:5px 40px;font-size:25px;" type="submit">
        Yes
      </button>
    </form>
  </div>
  {% endif %}
</div>
{% endblock %}
{% block javascript %}
<script>
  $('button.pending-order-btn').click(function(){
    id = $(this).attr('id')
    $('input#pendingOrder').attr('value', id)
  })
</script>
<script src="{% static 'service/js/customer_dashboard.js' %}"></script>
<script src="{% static 'service/js/service_boy_on_way.js' %}"></script>
{% endblock %}