{% extends 'user/navbar.html' %}

{% block title %} SignUp | Login {% endblock %}

{% block stylesheet %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'user/scss/signUp/signUp.css' %}">
<style>
    input.get_OTP {
        background-color: transparent;
        cursor: pointer;
        transition: 0.3s ease-in-out;
    }

    input.get_OTP:hover {
        background-color: rgba(0, 0, 0, 0.034);
        transition: 0.3s ease-in-out;
    }
</style>
{% endblock %}

{% block body %}
<div class="signInUp">
    <div class="Login">
        <h1>Create New account for {{who}}</h1>
        <p style="margin: 0; padding:0;color:red;">{{sent}}</p>
        <div class="fill">
            <div class="service_boy signup-service_boy">
                <p style="margin: 0; padding:0;color:red;">{{otp_error}}</p>
                <input type="email" class="email" name="email" placeholder="email" value="{{email}}" disabled><br>
                <form action="/create_new_account" method="post">
                    {% csrf_token %}
                    <input type="submit" class="get_OTP" value="Get OTP" name="get_OTP">
                </form>
                <form action="/create_new_account" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="hidden" class="email" name="email" placeholder="email" value="{{email}}" disabled><br>
                    <input type="text" class="OTP" id="OTP" name="OTP" placeholder="Enter OTP" required><br>
                    <input type="submit" class="submit" value="Register">
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
{% endblock %}