{% extends 'user/navbar.html' %}

{% block title %} SignUp | Login {% endblock %}

{% block stylesheet %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'user/scss/signUp/signUp.css' %}">
<style>
    input.get_OTP {
        background-color: transparent;
        cursor: pointer;
        transition: 0.3s ease-in-out;
    }

    input.get_OTP:hover {
        background-color: rgba(0, 0, 0, 0.034);
        transition: 0.3s ease-in-out;
    }

    .display {
        display: none;
    }

    .message {
        display: none;
        color: #000;
        position: relative;
        padding: 0px 20px 0 100px;
        text-align: left;
        margin-top: 10px;
    }

    .message p {
        padding: 0;
        margin: 0;
        font-size: 15px;
    }

    /* Add a green text color and a checkmark when the requirements are right */
    .valid {
        color: green;
    }

    .valid:before {
        position: relative;
        left: -10px;
        content: "✅";
    }

    /* Add a red text color and an "x" when the requirements are wrong */
    .invalid {
        color: red;
        margin-right: 10px;
        flex: none;
        width: max-content;
    }

    .invalid:before {
        position: relative;
        left: -10px;
        content: "❌";
    }

    .disabled {
        cursor: grab;
    }
</style>
{% endblock %}

{% block body %}
<div class="signInUp">
    <div class="Login">
        <h1>Forgot Password</h1>
        <p style="margin: 0; padding:0;color:red;">{{sent}}</p>
        <div class="fill">
            <div class="service_boy signup-service_boy">
                <p style="margin: 0; padding:0;color:red;">{{error}}</p>
                <form action="/forgot_password" method="post">
                    {% csrf_token %}
                    <input type="email" class="set_email" name="email" placeholder="email" value="{{email}}"
                        required><br>
                    <input type="submit" class="get_OTP" value="Get OTP" name="get_OTP">
                </form>
                <form action="/forgot_password" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="hidden" class="get_email" name="email" onchange='onChangeHandler(this.value)'
                        placeholder="email" value="{{email}}" required><br>
                    <input type="text" class="OTP display{{content}}" id="OTP" name="OTP" placeholder="Enter OTP"
                        required><br>

                    <input class="display{{content}} password" id="psw" type="password" name="password" id="password"
                        pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                        title="Must contain at least one number and one uppercase and lowercase letter and one special character, and at least 8 or more characters"
                        placeholder="password" required>
                    <br class="display{{content}}">
                    <input class="display{{content}} again_password" type="password" name="again_password"
                        id="again_password" placeholder="confirm password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                        title="Must contain at least one number and one uppercase and lowercase letter and one special character, and at least 8 or more characters"
                        required>
                    <br class="display{{content}}">

                    <div id="message" class="message">
                        <p>Password must contain the following:</p>
                        <div class="validation">
                            <p id="letter" class="invalid">A <b>lowercase</b> letter</p>
                            <p id="capital" class="invalid">A <b>capital (uppercase)</b> letter</p>
                            <p id="number" class="invalid">A <b>number</b></p>
                            <p id="character" class="invalid">A <b>Special Character</b></p>
                            <p id="length" class="invalid">Minimum <b>8 characters</b></p>
                        </div>
                    </div>

                    <input type="submit" class="submit" value="Change Password">
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
<script>
    function onChangeHandler(val) {
        $('input.set_email').attr('value', val);
    }

    var myInput = document.getElementById("psw");
    var letter = document.getElementById("letter");
    var capital = document.getElementById("capital");
    var number = document.getElementById("number");
    var length = document.getElementById("length");
    var character = document.getElementById("character");

    myInput.onfocus = function () {
        document.getElementById("message").style.display = "block";
    }

    // When the user clicks outside of the password field, hide the message box
    myInput.onblur = function () {
        document.getElementById("message").style.display = "none";
    }

    myInput.onkeyup = function () {
        // Validate lowercase letters
        var lowerCaseLetters = /[a-z]/g;
        if (myInput.value.match(lowerCaseLetters)) {
            letter.classList.remove("invalid");
            letter.classList.add("valid");
        } else {
            letter.classList.remove("valid");
            letter.classList.add("invalid");
        }

        // Validate capital letters
        var upperCaseLetters = /[A-Z]/g;
        if (myInput.value.match(upperCaseLetters)) {
            capital.classList.remove("invalid");
            capital.classList.add("valid");
        } else {
            capital.classList.remove("valid");
            capital.classList.add("invalid");
        }

        // Validate numbers
        var numbers = /[0-9]/g;
        if (myInput.value.match(numbers)) {
            number.classList.remove("invalid");
            number.classList.add("valid");
        } else {
            number.classList.remove("valid");
            number.classList.add("invalid");
        }

        // Validate length
        if (myInput.value.length >= 8) {
            length.classList.remove("invalid");
            length.classList.add("valid");
        } else {
            length.classList.remove("valid");
            length.classList.add("invalid");
        }

        var format = /[!@#$%^&*()_+\-=\[\]{};':"\\|,.<>\/?]+/;
        if (format.test(myInput.value)) {
            character.classList.remove("invalid");
            character.classList.add("valid");
        } else {
            character.classList.remove("valid");
            character.classList.add("invalid");
        }

        if (myInput.value.match(lowerCaseLetters) && myInput.value.match(upperCaseLetters) && myInput.value.match(
                numbers) && myInput.value.length >= 8 && format.test(myInput.value)) {
            $('input#submit_customer_signup').attr('disabled', false);
        } else {
            $('input#submit_customer_signup').attr('disabled', true);
        }

    }
</script>
<script src="{% static 'user/js/forgot_password.js' %}"></script>
{% endblock %}