{% extends 'user/navbar.html' %}

{% block title %} SignUp | Login {% endblock %}

{% block stylesheet %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'user/scss/signUp/signUp.css' %}">
<style>
    input.get_OTP{
        background-color: transparent;
        cursor: pointer;
        transition: 0.3s ease-in-out;
    }
    input.get_OTP:hover{
        background-color: rgba(0, 0, 0, 0.034);
        transition: 0.3s ease-in-out;
    }

    .display{
        display: none;
    }
</style>
{% endblock %}

{% block body %}
<div class="signInUp">
    <div class="Login">
        <h1>Forgot Password</h1>
        <p style="margin: 0; padding:0;color:red;">{{sent}}</p>
        <div class="fill">
            <div class="service_boy signup-service_boy">
                <p style="margin: 0; padding:0;color:red;">{{error}}</p>
                <form action="/forgot_password" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="email" class="get_email" name="email" onchange='onChangeHandler(this.value)'  placeholder="email" value="{{email}}" required><br>
                    <input type="text" class="OTP" id="OTP" name="OTP" placeholder="Enter OTP" required><br>
                    <input class="display{{content}} password" type="password" name="password" id="password" placeholder="password"
                        required>
                        <br class="display{{content}}">
                    <input class="display{{content}} again_password" type="password" name="again_password" id="again_password"
                        placeholder="confirm password" required>
                        <br class="display{{content}}">
                    <input type="submit" class="submit" value="Change Password">
                </form>
                <form action="/forgot_password" method="post" >
                    {% csrf_token %}
                    <input type="hidden" class="set_email" name="email" placeholder="email" value="" required><br>
                    <input type="submit" class="get_OTP" value="Get OTP" name="get_OTP">
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
<script>
    function onChangeHandler(val) {
        $('input.set_email').attr('value',val);
    }
</script>
<script src="{% static 'user/js/forgot_password.js' %}"></script>
{% endblock %}