{% extends 'user/navbar.html' %}

{% block title %} isTaker - Hospital {% endblock %}

{% block stylesheet %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'user/scss/signInUp/signInUp.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'user/scss/hospital/hospital.css' %}">

{% endblock %}


{% block body %}
<br><br><br>
<div class="main-container">
  <div class="available place_and_address">
    <h1><br>{{no_hospital}}</h1>
    <div class="search_by_pin" id="{{id_pin}}">
      {% for i in hospital_available %}
      <div class="hospital" id="hospital" name="{{i.hospital_id}}">
        <div class="hospital_image">
          <img src="/media/{{i.hospital_image}}" class="hospital_image" alt="{{i.hospital_name}}" width="220px"
            height="220px">
        </div>
        <div class="hospital_info">
          <h2 class="hospital_name">{{i.hospital_name}}</h2>
          <p class="hospital_address"><b>Address:</b> {{i.hospital_address}}</p>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="search_by_place" id="{{id_place}}">
      <div class="search_by_place">
        {% for i in hospital_available%}
        <div class="hospital" id="hospital" name="{{i.hospital_id}}"
          style="display: block;margin:4%; width:30%; text-align:center">
          <div class="hospital_image">
            <img src="/media/{{i.hospital_image}}" class="hospital_image" alt="{{i.hospital_name}}" width="220px"
              height="220px">
          </div>
          <div class="hospital_info">
            <h2 class="hospital_name">{{i.hospital_name}}</h2>
            <p class="hospital_address"><b>Address:</b> {{i.hospital_address}}</p>
          </div>
        </div>
        {% endfor %}
        
        <div class="suggest_hospitals">
          <h2 style="margin-top: 20%;">Hospitals Near By</h2>
          <h6>{{no_suggestion}}</h6>
          {% for i in suggest_place %}
          <div class="card" style="width: 18rem;margin:10px;background-color:rgba(128, 128, 128, 0.034);border:1px solid gray;">
            <a style="color: black; text-decoration:none;">
              <div class="card-body">
                <h5 class="card-title">{{i.hospital_name}}</h5>
                <hr>
                <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
                <p class="card-text"><b>Address: </b>{{i.hospital_address}}</p>
                <!-- <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a> -->
              </div>
            </a>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block javascript %}
<script src="{% static 'user/js/signIn.js' %}"></script>
<script>
  if (document.referrer.endsWith('customer_dashboard/{{Active_User.customer_id}}') == false && document.referrer
    .endsWith('customer_dashboard/{{Active_User.customer_id}}/order_confirm') == false) {
    var done = document.getElementById('hospital_submit');
    var view_service = document.getElementById('view_service');
    done.remove();
    view_service.innerHTML =
      "<p>No Serivce Added <a href='/customer_dashboard/{{Active_User.customer_id}}'>Click Here</a> to add Services.</p>"
  }


  $('div#hospital').click(function () {
    var id = $(this).attr('name')
    $('input').attr('checked', false)
    $('input#' + id).attr('checked', true)
    $('input#' + id + 'place').attr('checked', true)
    $('input#hospital_id').attr('value', $(this).attr('name'))
    $('button#hospital_done').attr('disabled', false)
    $('div#hospital').removeClass('select')
    $(this).addClass('select')
  })

  $('button#btn_search_by_place').click(function () {
    console.log('id="btn_search_by_place"')
  })

  $('button#btn_search_by_pin').click(function () {
    console.log('id="btn_search_by_pin"')
  })
</script>
{% endblock %}