{% extends 'user/navbar.html' %}

{% block title %} isTaker - Login {% endblock %}

{% block stylesheet %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'user/scss/signInUp/signInUp.css' %}">
<!-- <link rel="stylesheet" type="text/css" href="{% static 'user/scss/navbar/navbar.css' %}"> -->

{% endblock %}


{% block body %}
<div class="signInUp">
    <div class="Login">
        <br>
        <h1>Login</h1>
        <p class="succesmsg" style="color:green;margin:0;margin-bottom:20px;padding:0">{{success}}</p>
        <p class="succesmsg" style="color:red;margin:0;margin-bottom:20px;padding:0">{{not_found}}</p>
        <input type="radio" class="option" name="type" id="customer" value="customer" checked>
        <label for="customer" class="customer option">Customer</label>
        <input type="radio" class="option" name="type" id="service_boy" value="service_boy">
        <label for="service_boy" class="service_boy option">Service-Boy</label>

        <div class="fill">
            <div class="customer">
                <div class="choice">
                    <input type="radio" id="email_c_choice" name="c_login" value="Login with Email" selected>
                    <label for="email_c_choice">Login with Email</label>
                    <input type="radio" id="number_c_choice" name="c_login" value="Login with Contact Number">
                    <label for="number_c_choice">Login with Contact Number</label>
                </div><br>
                <form action="/login" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="who" value="customer">
                    <div class="form-group">
                        <label for="c_email" id="c_email_number">Email address</label>
                        <input type="email" class="email form-control" name="email" id="c_email" required
                            placeholder="name@example.com">
                    </div>
                    <div class="form-group">
                        <label for="c_password">Password</label>
                        <input type="password" class="password form-control" name="password" id="c_password" required
                            placeholder="password min 8 character" required>
                    </div>
                    <a href="/forgot_password" style="float:left;margin-left:10%">Forget password?</a><br>
                    <input type="submit" class="submit" onclick="saveInfoCustomer()" value="Login">
                    <hr>
                    <a href="/signUp">Create New Account as Customer?</a>
                </form>
            </div>
            <div class="hide service_boy">
                <div class="choice">
                    <input type="radio" id="email_s_choice" name="s_login" value="Login with Email" selected>
                    <label for="email_s_choice">Login with Email</label>
                    <input type="radio" id="number_s_choice" name="s_login" value="Login with Contact Number">
                    <label for="number_s_choice">Login with Contact Number</label>
                </div>
                <form action="/login" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="who" value="service_boy">
                    <br>
                    <div class="form-group">
                        <label for="ID">Unique ID</label>
                        <input type="number" class="ID form-control" name="ID" id="ID" required
                            placeholder="Unique ID">
                    </div>
                    <div class="form-group">
                        <label for="s_email" id="s_email_number">Email</label>
                        <input type="email" class="email form-control" name="email" id="s_email" required
                            placeholder="name@example.com">
                    </div>
                    <div class="form-group">
                        <label for="ID">Password</label>
                        <input type="password" class="password form-control" name="password" id="s_password" required
                            placeholder="password">
                    </div>
                    <a href="/forgot_password" style="float:left;margin-left:10%">Forget password?</a><br>
                    <input type="submit" class="submit" onclick="saveInfoServiceBoy()" value="Login">
                    <hr>
                    <a href="/signUp">Create New Account as Service-Boy?</a>
                </form>
            </div>
        </div>

    </div>
</div>
{% endblock %}

{% block javascript %}
<script src="{% static 'user/js/signIn.js' %}"></script>

<script>
    function saveInfoCustomer() {
        var email = $('input#c_email').val()
        c_credentials = {
            'email': email
        }
        localStorage.setItem('c_credentials', JSON.stringify(c_credentials))
    }

    function saveInfoServiceBoy() {
        var ID = $('input#ID').val()
        var email = $('input#s_email').val()
        s_credentials = {
            'ID': ID,
            'email': email
        }
        localStorage.setItem('s_credentials', JSON.stringify(s_credentials))
    }
</script>
{% endblock %}