{% extends 'user/navbar.html' %}
{% block title %} isTaker - SignUp {% endblock %}
{% block stylesheet %}
{% load static %}
<link rel="stylesheet" href="http://bootstrap-tagsinput.github.io/bootstrap-tagsinput/dist/bootstrap-tagsinput.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />
<link rel="stylesheet" type="text/css" href="{% static 'user/scss/signUp/signUp.css' %}">

{% endblock %}
{% block body %}
<div class="signInUp">

    <div class="Login">
        <br>
        <h1>SignUp</h1>
        <input type="radio" style="margin: 0;" class="option" name="type" id="customerradio" value="customer" checked>
        <label for="customerradio" style="margin: 0;" class="customer option">Customer</label>
        <input type="radio" style="margin: 0;" class="option" name="type" id="service-boy" value="service_boy">
        <label for="service-boy" style="margin: 0;" class="service_boy option">Service-Boy</label>
        <div class="progress with_service_boy display">
        </div>
        <div class="fill" style="width: 90%; margin-top:10px;">
            <div class="customer">
                <form action="/signUp" method="post" class="customer_form">
                    {% csrf_token %}
                    <p class="error_msg" id="c_error_msg" style="color:red;margin:0;padding:0">{{found}}</p>
                    <p class="succesmsg" style="color:green;margin:0;padding:0">{{success}}</p>
                    <input type="text" name="who" value="customer" style="display: none;">
                    <input type="text" class="fname" id="c_fname" name="firstname" placeholder="First name" required>
                    <input type="text" class="lname" id="c_lname" name="lastname" placeholder="Last name" required>
                    <input type="text" class="father_husband_name" id="c_fathername" name="father_husband_name"
                        placeholder="Father's/Husband's name" required>
                    <input type="email" class="email" name="email" id="c_email" placeholder="email" required>
                    <input type="number" class="number" name="number" id="c_number" placeholder="(+234) 123 2352"
                        required>
                    <input type="text" class="address" id="c_address" name="address" placeholder="Address" required><br>
                    <select class="state" id="c_state" name="state" required>
                        <option value="select_a_state">select a state</option>
                        <option value="australia">Australia</option>
                        <option value="canada">Canada</option>
                        <option value="usa">USA</option>
                    </select>

                    <input class="city_village" type="text" id="c_city_village" name="city_village"
                        placeholder="city/village" required>
                    <input class="pin" type="number" name="pin" id="c_pin" placeholder="PIN" required>
                    <input class="adhaar" type="number" name="adhaar" id="c_adhaar"
                        placeholder="Adhaar Card/ Passport Number" required>
                    <!-- <input class="password" type="password" name="password" id="password" placeholder="password" required>
          <input class="again_password" type="password" name="again_password" id="again_password"
            placeholder="password confirm" required> -->
                    <input type="password" id="psw" name="password" placeholder="password"
                        pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                        title="Must contain at least one number and one uppercase and lowercase letter and one special character, and at least 8 or more characters"
                        required>
                    <input type="password" id="" name="again_password" placeholder="password confirm"
                        pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                        title="Must contain at least one number and one uppercase and lowercase letter and one special character, and at least 8 or more characters"
                        required>
                    <div class="tnc" style="width: fit-content;margin-left:60px">
                        <input type="checkbox" class="" id="customer_check" required style="width: 30px!important">
                        <label class="" for="customer_check">Please Check me to Accept <a href="">Terms and
                                Condition</a> of isTaker</label>
                    </div>
                    <div id="message" class="message">
                        <p>Password must contain the following:</p>
                        <div class="validation">
                            <p id="letter" class="invalid">A <b>lowercase</b> letter</p>
                            <p id="capital" class="invalid">A <b>capital (uppercase)</b> letter</p>
                            <p id="number" class="invalid">A <b>number</b></p>
                            <p id="character" class="invalid">A <b>Special Character</b></p>
                            <p id="length" class="invalid">Minimum <b>8 characters</b></p>
                        </div>
                    </div>

                    <input type="submit" class="submit" id="submit_customer_signup" onclick="saveInfoCustomer()">
                    <hr>
                    <a href="/login">Already a member?</a>
                </form>
            </div>
            <div class="hide service_boy signup-service_boy" id="service_boy_signup">
                <form action="/signUp" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <p class="error_msg" id="s_error_msg" style="color:red;margin:0;padding:0">{{found}}</p>
                    <p class="succesmsg" style="color:green;margin:0;padding:0">{{success}}</p>

                    <!-- First Page -->
                    <div id="1" class="signUp_page personal_info">
                        <input type="text" name="who" id="service_boy" value="service_boy" style="display: none;">
                        <input type="text" class="fname" id="s_fname" name="firstname" placeholder="First name"
                            required>
                        <input type="text" class="lname" id="s_lname" name="lastname" placeholder="Last name" required>
                        <input type="text" class="fathername" id="s_fathername" name="father_husband_name"
                            placeholder="Father's name" required>
                        <select class="gender" id="s_gender" name="gender" required>
                            <option value="Select_your_Gender">Select your Gender</option>
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                            <option value="Rather Not Discuss">Rather Not Discuss</option>
                        </select>
                        <input type="text" class="address" id="s_address" name="address" placeholder="Address" required
                            style="width: 82%;">
                        <input class="city_village" type="text" id="s_city_village" name="city_village"
                            placeholder="city/village" required>
                        <input class="district" type="text" name="district" is="s_district" placeholder="district"
                            required>
                        <select class="state" id="s_state" name="state" required>
                            <option value="select your State">select your State</option>
                            <option value="australia">Australia</option>
                            <option value="canada">Canada</option>
                            <option value="usa">USA</option>
                        </select>
                        <input type="number" class="pin_code" id="s_pin_code" name="pin" placeholder="pin code"
                            required>
                    </div>
                    <hr style="width: 70%; margin:20px auto;">
                    <!-- Second Page -->
                    <div id="2" class="signUp_page background">
                        <input type="email" class="email" id="s_email" name="email" placeholder="email" required><br>
                        <input type="text" class="mother_tongue" id="s_mother_tongue" name="mother_tongue"
                            placeholder="Type Your Mother Tongue" required><br>
                        <select class="education" id="s_education" name="education" required>
                            <option value="Select_your_Education">Select your Education</option>
                            <option value="Student">Student</option>
                            <option value="Graduated">Graduated</option>
                            <option value="Post_Graduate">Post Graduate</option>
                            <option value="PhD">PhD</option>
                            <option value="12th_pass">12th pass</option>
                            <option value="below_12th">below 12th</option>
                            <option value="No_former_Education">No former Education</option>
                        </select><br>
                        <input type="text" name="DOB" id="s_DOB" placeholder="Select Date Of Birth"
                            onfocus="(this.type='date')" onblur="(this.type='text')" required><br><br>
                        <input type="number" style="width: 100%;" value="" data-role="tagsinput" class="pin serve"
                            id="s_pin_serve" name="pin_serve" placeholder="Type all pincode where you will serve"
                            required><br><br>
                        <strong>Select Language:</strong>
                        <select id="languages_dropdown">
                            <option class="lang" value="">select language from dropdown</option>
                            <option class="lang" value="HINDI">HINDI</option>
                            <option class="lang" value="ENGLISH">ENGLISH</option>
                            <option class="lang" value="GERMAN">GERMAN</option>
                            <option class="lang" value="FRENCH">FRENCH</option>
                        </select><br>
                        <input type="text" id="venom" id="s_languages" disabled name="languages" class="languages"
                            value="" placeholder="All languages Selected will be shown here">
                        <!-- <input type="text" value="yo" style="width: 100%;" data-role="tagsinput" class="languages"
                            id="s_languages" name="languages" aria-label="search"
                            placeholder="Type all languages you know" required><br><br> -->

                    </div>

                    <hr style="width: 70%; margin:20px auto;">
                    <!-- Third Page -->
                    <div id="3" class="signUp_page government_req">
                        <input type="number" class="number" name="number" id="s_number"
                            placeholder="Your Contact Number eg:9876543210" required>
                        <input class="adhaar" type="number" name="adhaar" id="s_adhaar"
                            placeholder="Adhaar Card/Passport Number" required>
                        <input class="pan" type="number" name="pan" id="s_pan" placeholder="Your Pan Card Number"
                            required>
                        <input class="Bank_Account" type="number" name="Bank_Account" id="s_Bank_Account"
                            placeholder="Your Bank Account Number" required>
                        <input class="IFSC_code" type="text" name="IFSC_code" id="s_IFSC_code"
                            placeholder="Your IFSC code" required>
                        <input class="branch" type="text" name="branch" id="s_branch" placeholder="Your Bank Branch"
                            required>
                    </div>

                    <hr style="width: 70%; margin:20px auto;">
                    <!-- Fourth Page -->
                    <div id="4" class="signUp_page confidential">
                        <input type="file" name="image" id="image" accept=".png,.jpeg,.jpg" required><br>
                        <input type="password" id="psw_s" name="password" placeholder="password"
                            pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                            title="Must contain at least one number and one uppercase and lowercase letter and one special character, and at least 8 or more characters"
                            required>
                        <input type="password" id="" name="again_password" placeholder="password confirm"
                            pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                            title="Must contain at least one number and one uppercase and lowercase letter and one special character, and at least 8 or more characters"
                            required>
                        <div id="message_s" class="message">
                            <p>Password must contain the following:</p>
                            <div class="validation">
                                <p id="letter_s" class="invalid">A <b>lowercase</b> letter</p>
                                <p id="capital_s" class="invalid">A <b>capital (uppercase)</b> letter</p>
                                <p id="number_s" class="invalid">A <b>number</b></p>
                                <p id="character_s" class="invalid">A <b>Special Character</b></p>
                                <p id="length_s" class="invalid">Minimum <b>8 characters</b></p>
                            </div>
                        </div>
                        <br>
                        <div class="tnc" style="width: fit-content;margin-left:60px">
                            <input type="checkbox" class="" id="service_boy_check" required
                                style="width: 30px!important">
                            <label class="" for="service_boy_check">Please Check me to Accept <a href="">Terms and
                                    Condition</a> of isTaker</label>
                        </div>
                        <input type="submit" class="submit" id="submit_customer_signup" value="Register"
                            onclick="saveInfoServiceBoy()">
                    </div>
                    <br>
                    <!-- <a id="back" class="back with_service_boy display">
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xlink="http://www.w3.org/1999/xlink"
                            x="0px" y="0px" width="20px" height="20px" viewBox="0 0 20 20"
                            enable-background="new 0 0 20 20" space="preserve">
                            <path fill="#ff844f"
                                d="M18.008,7.667L16.606,9,11,3.627V20H9V3.627L3.392,9l-1.4-1.336L10-.012Z"></path>
                        </svg>
                    </a>

                    <a id="next" class="next with_service_boy display">
                        <svg class="turn" version="1.1" xmlns="http://www.w3.org/2000/svg"
                            xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="20px" height="20px"
                            viewBox="0 0 20 20" enable-background="new 0 0 20 20" space="preserve">
                            <path fill="#ff844f"
                                d="M18.008,7.667L16.606,9,11,3.627V20H9V3.627L3.392,9l-1.4-1.336L10-.012Z"></path>
                        </svg>
                    </a> -->
                    <!-- <button type="button" style="padding:10px 40px;" id="back" class="back with_service_boy btn btn-primary mx-2"
            disabled><a style="font-size:20px;">BACK</a></button>
          <button type="button" style="padding:10px 40px;" id="next" class="btn btn-primary mx-2"><a
              style="font-size:20px;">NEXT</a></button> -->
                    <hr>
                    <a href="/login">Already a member?</a>
                </form>

            </div>
        </div>
    </div>
</div>
{% endblock %} {% block javascript %}
<script src="{% static 'user/js/signIn.js' %}"></script>
<script src="{% static 'user/js/signUp.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="http://bootstrap-tagsinput.github.io/bootstrap-tagsinput/dist/bootstrap-tagsinput.min.js"></script>
<script>
    $('select#languages_dropdown').click(function () {
        prev_langauges = $('input#venom').val()
        current_language = $(this).val()
        $("select#languages_dropdown option[value=" + current_language + "]").remove();
        if (prev_langauges == '') {
            $('input#venom').attr('value', current_language)
        } else {
            $('input#venom').attr('value', prev_langauges + ", " + current_language)
        }
    });

    $('label.customer').click(function () {
        $('.with_service_boy').addClass('display')
    })

    $('label.service_boy').click(function () {
        $('.with_service_boy').removeClass('display')
    })

    var progress = 1
    $('a#next').click(() => {
        progress += 1
        if (progress > 4) {
            progress = 4
        }
        $('div.progress').attr('style', 'width: ' + (progress / 4 * 100) + '%')
        for (let index = 1; index <= 4; index++) {
            console.log(progress, index)
            if (index == progress) {
                $('div#' + index).removeClass('display')
            } else {
                $('div#' + index).addClass('display')
            }
        }
        if (progress > 1 && progress <= 4) {
            $('a#back').removeClass('display')
            $('a#back').attr('disabled', false)
        } else {
            $('a#back').addClass('display')
            $('a#back').attr('disabled', true)
        }

        if (progress == 4) {
            $('a#next').attr('disabled', true)
        }
    })
    $('a#back').click(() => {
        progress -= 1
        if (progress < 1) {
            progress = 1
        }
        $('div.progress').attr('style', 'width: ' + (progress / 4 * 100) + '%')
        for (let index = 1; index <= 4; index++) {
            if (index == progress) {
                $('div#' + index).removeClass('display')
            } else {
                $('div#' + index).addClass('display')
            }
        }
        console.log(progress)
        if (progress != 4) {
            $('a#next').removeClass('display')
            $('a#next').attr('disabled', false)
        }
        if (progress == 1) {
            $('a#back').attr('disabled', true)
        }

    })

    function saveInfoCustomer() {
        var c_fname = $('input#c_fname').val()
        var c_lname = $('input#c_lname').val()
        var c_fathername = $('input#c_fathername').val()
        var c_email = $('input#c_email').val()
        var c_number = $('input#c_number').val()
        var c_address = $('input#c_address').val()
        var c_state = $('input#c_state').val()
        var c_city_village = $('input#c_city_village').val()
        var c_pin = $('input#c_pin').val()
        var c_adhaar = $('input#c_adhaar').val()

        c_sign_up = {
            'c_fname': c_fname,
            'c_lname': c_lname,
            'c_fathername': c_fathername,
            'c_email': c_email,
            'c_number': c_number,
            'c_address': c_address,
            'c_state': c_state,
            'c_city_village': c_city_village,
            'c_pin': c_pin,
            'c_adhaar': c_adhaar,
        }
        localStorage.setItem('c_sign_up', JSON.stringify(c_sign_up))
    }

    function saveInfoServiceBoy() {
        localStorage.removeItem('c_sign_up');

        var s_fname = $('input#s_fname').val()
        var s_lname = $('input#s_lname').val()
        var s_fathername = $('input#s_fathername').val()
        var s_gender = $('input#s_gender').val()
        var s_address = $('input#s_address').val()
        var s_city_village = $('input#s_city_village').val()
        var s_district = $('input#s_district').val()
        var s_state = $('input#s_state').val()
        var s_pin_code = $('input#s_pin_code').val()

        var s_email = $('input#s_email').val()
        var s_mother_tongue = $('input#s_mother_tongue').val()
        var s_education = $('input#s_education').val()
        var s_DOB = $('input#s_DOB').val()
        var s_pin_serve = $('input#s_pin_serve').val()
        var s_languages = $('input#s_languages').val()

        var s_number = $('input#s_number').val()
        var s_adhaar = $('input#s_adhaar').val()
        var s_pan = $('input#s_pan').val()
        var s_Bank_Account = $('input#s_Bank_Account').val()
        var s_IFSC_code = $('input#s_IFSC_code').val()
        var s_branch = $('input#s_branch').val()

        s_sign_up = {
            's_fname': s_fname,
            's_lname': s_lname,
            's_fathername': s_fathername,
            's_gender': s_gender,
            's_address': s_address,
            's_city_village': s_city_village,
            's_district': s_district,
            's_state': s_state,
            's_pin_code': s_pin_code,

            's_email': s_email,
            's_mother_tongue': s_mother_tongue,
            's_education': s_education,
            's_DOB': s_DOB,
            's_pin_serve': s_pin_serve,
            's_languages': s_languages,

            's_number': s_number,
            's_adhaar': s_adhaar,
            's_pan': s_pan,
            's_Bank_Account': s_Bank_Account,
            's_IFSC_code': s_IFSC_code,
            's_branch': s_branch,
        }

        localStorage.setItem('s_sign_up', JSON.stringify(s_sign_up))
    }

    if (localStorage.getItem('c_sign_up') != null) {
        var c_signUp = JSON.parse(localStorage.getItem('c_sign_up'))
        $('input#c_fname').attr('value', c_signUp['c_fname'])
        $('input#c_lname').attr('value', c_signUp['c_lname'])
        $('input#c_email').attr('value', c_signUp['c_email'])
        $('input#c_fathername').attr('value', c_signUp['c_fathername'])
        $('input#c_number').attr('value', c_signUp['c_number'])
        $('input#c_city_village').attr('value', c_signUp['c_city_village'])
        $('input#c_address').attr('value', c_signUp['c_address'])
        $('input#c_state').attr('value', c_signUp['c_state'])
        $('input#c_pin').attr('value', c_signUp['c_pin'])
        $('input#c_adhaar').attr('value', c_signUp['c_adhaar'])

        if ($('p#c_error_msg').text() === 'email already exists') {
            $('input#c_email').attr('value', '')
            $('input#c_email').focus()
        }

        if ($('p#c_error_msg').text() === 'number already exists') {
            $('input#c_number').attr('value', '')
            $('input#c_number').focus()
        }

        if ($('p#c_error_msg').text() === 'adhaar number already exists') {
            $('input#c_adhaar').attr('value', '')
            $('input#c_adhaar').focus()
        }
    }
    if (localStorage.getItem('s_sign_up') != null) {

        var s_signUp = JSON.parse(localStorage.getItem('s_sign_up'))
        $('input#s_fname').attr('value', s_signUp['s_fname'])
        $('input#s_lname').attr('value', s_signUp['s_lname'])
        $('input#s_fathername').attr('value', s_signUp['s_fathername'])
        $('input#s_gender').attr('value', s_signUp['s_gender'])
        $('input#s_address').attr('value', s_signUp['s_address'])
        $('input#s_city_village').attr('value', s_signUp['s_city_village'])
        $('input#s_district').attr('value', s_signUp['s_district'])
        $('input#s_state').attr('value', s_signUp['s_state'])
        $('input#s_pin_code').attr('value', s_signUp['s_pin_code'])

        $('input#s_email').attr('value', s_signUp['s_email'])
        $('input#s_mother_tongue').attr('value', s_signUp['s_mother_tongue'])
        $('input#s_education').attr('value', s_signUp['s_education'])
        $('input#s_DOB').attr('value', s_signUp['s_DOB'])
        $('input#s_pin_serve').attr('value', s_signUp['s_pin_serve'])
        $('input#s_languages').attr('value', s_signUp['s_languages'])

        $('input#s_number').attr('value', s_signUp['s_number'])
        $('input#s_adhaar').attr('value', s_signUp['s_adhaar'])
        $('input#s_pan').attr('value', s_signUp['s_pan'])
        $('input#s_Bank_Account').attr('value', s_signUp['s_Bank_Account'])
        $('input#s_IFSC_code').attr('value', s_signUp['s_IFSC_code'])
        $('input#s_branch').attr('value', s_signUp['s_branch'])

        if ($('p#s_error_msg').text() === 'email already exists') {
            $('input#s_email').attr('value', '')

        }

        if ($('p#s_error_msg').text() === 'number already exists') {
            $('input#s_number').attr('value', '')

        }

        if ($('p#s_error_msg').text() === 'adhaar number already exists') {
            $('input#s_adhaar').attr('value', '')

        }

        if ($('p#s_error_msg').text() === 'PAN number already exists') {
            $('input#s_pan').attr('value', '')

        }

        if ($('p#s_error_msg').text() === 'account number already exists') {
            $('input#s_Bank_Account').attr('value', '')

        }
    }


    var myInput = document.getElementById("psw");
    var letter = document.getElementById("letter");
    var capital = document.getElementById("capital");
    var number = document.getElementById("number");
    var length = document.getElementById("length");
    var character = document.getElementById("character");

    var myInput_s = document.getElementById("psw_s");
    var letter_s = document.getElementById("letter_s");
    var capital_s = document.getElementById("capital_s");
    var number_s = document.getElementById("number_s");
    var length_s = document.getElementById("length_s");
    var character_s = document.getElementById("character_s");

    // When the user clicks on the password field, show the message box
    myInput.onfocus = function () {
        document.getElementById("message").style.display = "block";
    }

    // When the user clicks outside of the password field, hide the message box
    myInput.onblur = function () {
        document.getElementById("message").style.display = "none";
    }

    // When the service clicks on the password field, show the message box
    myInput_s.onfocus = function () {
        document.getElementById("message_s").style.display = "block";
    }

    // When the service clicks outside of the password field, hide the message box
    myInput_s.onblur = function () {
        document.getElementById("message_s").style.display = "none";
    }

    // When the user starts to type something inside the password field
    myInput.onkeyup = function () {
        // Validate lowercase letters
        var lowerCaseLetters = /[a-z]/g;
        if (myInput.value.match(lowerCaseLetters)) {
            letter.classList.remove("invalid");
            letter.classList.add("valid");
        } else {
            letter.classList.remove("valid");
            letter.classList.add("invalid");
        }

        // Validate capital letters
        var upperCaseLetters = /[A-Z]/g;
        if (myInput.value.match(upperCaseLetters)) {
            capital.classList.remove("invalid");
            capital.classList.add("valid");
        } else {
            capital.classList.remove("valid");
            capital.classList.add("invalid");
        }

        // Validate numbers
        var numbers = /[0-9]/g;
        if (myInput.value.match(numbers)) {
            number.classList.remove("invalid");
            number.classList.add("valid");
        } else {
            number.classList.remove("valid");
            number.classList.add("invalid");
        }

        // Validate length
        if (myInput.value.length >= 8) {
            length.classList.remove("invalid");
            length.classList.add("valid");
        } else {
            length.classList.remove("valid");
            length.classList.add("invalid");
        }

        var format = /[!@#$%^&*()_+\-=\[\]{};':"\\|,.<>\/?]+/;
        if (format.test(myInput.value)) {
            character.classList.remove("invalid");
            character.classList.add("valid");
        } else {
            character.classList.remove("valid");
            character.classList.add("invalid");
        }

        if (myInput.value.match(lowerCaseLetters) && myInput.value.match(upperCaseLetters) && myInput.value.match(
                numbers) && myInput.value.length >= 8 && format.test(myInput.value)) {
            $('input#submit_customer_signup').attr('disabled', false);
        } else {
            $('input#submit_customer_signup').attr('disabled', true);
        }

    }

    myInput_s.onkeyup = function () {
        // Validate lowercase letters
        var lowerCaseLetters = /[a-z]/g;
        if (myInput_s.value.match(lowerCaseLetters)) {
            letter_s.classList.remove("invalid");
            letter_s.classList.add("valid");
        } else {
            letter_s.classList.remove("valid");
            letter_s.classList.add("invalid");
        }

        // Validate capital letters
        var upperCaseLetters = /[A-Z]/g;
        if (myInput_s.value.match(upperCaseLetters)) {
            capital_s.classList.remove("invalid");
            capital_s.classList.add("valid");
        } else {
            capital_s.classList.remove("valid");
            capital_s.classList.add("invalid");
        }

        // Validate numbers
        var numbers = /[0-9]/g;
        if (myInput_s.value.match(numbers)) {
            number_s.classList.remove("invalid");
            number_s.classList.add("valid");
        } else {
            number_s.classList.remove("valid");
            number_s.classList.add("invalid");
        }

        // Validate length
        if (myInput_s.value.length >= 8) {
            length_s.classList.remove("invalid");
            length_s.classList.add("valid");
        } else {
            length_s.classList.remove("valid");
            length_s.classList.add("invalid");
        }

        var format = /[!@#$%^&*()_+\-=\[\]{};':"\\|,.<>\/?]+/;
        if (format.test(myInput_s.value)) {
            character_s.classList.remove("invalid");
            character_s.classList.add("valid");
        } else {
            character_s.classList.remove("valid");
            character_s.classList.add("invalid");
        }

        if (myInput_s.value.match(lowerCaseLetters) && myInput_s.value.match(upperCaseLetters) && myInput_s.value
            .match(
                numbers) && myInput_s.value.length >= 8 && format.test(myInput_s.value)) {
            $('input#submit_customer_signup').attr('disabled', false);
        } else {
            $('input#submit_customer_signup').attr('disabled', true);
        }

    }

    /********************** Password Validation *************************/
</script>
{% endblock %}